---
import { Image } from "astro:assets";
import Seo from "../../components/Seo.astro";
import PageLayout from "../PageLayout.astro";
import { Link } from "../../components/Link";
import "../../styles/default-template.css";

const {
  slug,
  date,
  title,
  byline,
  featuredImage,
  imageAttribution,
  description,
  subhead,
  hideHeroImage,
  bylineLinks,
  imageCaption,
  aboutStory,
  jointDept,
} = Astro.props;

// Format date
const dateFormat = new Intl.DateTimeFormat("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
});

// Check if is joint-department article
const isJointDept = typeof jointDept === "string" && jointDept.trim().length > 0;

// Validate byline links
if (bylineLinks.length !== 0 && bylineLinks.length !== byline.length) {
  throw new Error(
    `${slug} has ${byline.length} byline names and ${bylineLinks.length} byline links (these must be the same size)`,
  );
}
---

<PageLayout>
  {/* SEO (in head slot) */}
  <Seo
    title={`${title} | The Daily Californian`}
    description={description}
    canonical={`https://data.dailycal.org/article/${slug}`}
    image={featuredImage.src}
    authors={byline}
    publishDate={date}
    slot="head"
  />

  <div class="article">
    <div class="centeredItems">
      {/* Header */}
      <h1 class="title">{title}</h1>
      {subhead && <h3 class="subhead">{subhead}</h3>}
      <h5 class="date">{dateFormat.format(date)}</h5>

      {/* Featured image */}
      {
        !hideHeroImage && (
          <div class="imageContainer">
            <Image src={featuredImage} alt="Featured image." class="image" />

            {imageCaption && (
              <div class="imageCaption">
                <em class="caption">{imageCaption}</em>
              </div>
            )}

            <h5 class="imageAttribution">{imageAttribution}</h5>
          </div>
        )
      }
    </div>

    {/* Byline (flatMap avoids whitespace between authors) */}
    <div class="byline">
      <span>By </span>{
        byline.flatMap((author: string, i: number) => [
          ...(i > 0 ? [i === byline.length - 1 ? " & " : ", "] : []),
          <Link
            href={
              bylineLinks.length > 0 &&
              typeof bylineLinks[i] === "string" &&
              bylineLinks[i].trim().length > 0
                ? bylineLinks[i]
                : `https://www.dailycal.org/users/profile/${author}/` // TODO staff pages
            }
          >
            {author}
          </Link>,
        ])
      }
    </div>

    {/* Article */}
    <article class="content">
      <slot />
    </article>

    {/* About story */}
    <div class="footerCard content">
      <h3>About this Story</h3>
      {
        isJointDept ? (
          <p>
            This project was developed jointly by the Data Department and the {jointDept} Department
            at The Daily Californian.
          </p>
        ) : (
          <p>This project was developed by the Data Department at The Daily Californian.</p>
        )
      }
      {aboutStory && <p>{aboutStory}</p>}

      {
        isJointDept ? (
          <p>
            <Link
              href="https://www.dailycal.org/site/contact-us.html"
              style={{ color: "gray", fontSize: "14px" }}
            >
              Contact the Daily Californian
            </Link>
          </p>
        ) : (
          <p>
            Questions, comments or corrections? Email{" "}
            <Link href="mailto:projects@dailycal.org">projects@dailycal.org</Link>. Code, data and
            text are open-source on{" "}
            <Link href="https://github.com/dailycal-projects/dailycalprojects">GitHub</Link>.
          </p>
        )
      }
    </div>

    <div class="footerCard content">
      <h3>Support us</h3>
      <p>
        We are a nonprofit, student-run newsroom. Please consider
        {" "}
        <Link href="https://givebutter.com/w68cQv">donating</Link>
        {" "}
        to support our coverage.
      </p>
    </div>
  </div>
</PageLayout>

<style>
  .article {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    margin: 0 auto;
    max-width: 640px;
    font-family: Georgia, sans-serif;
  }
  /* Header */
  .centeredItems {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .imageContainer .image {
    width: 100%;
    height: auto;
  }
  .imageContainer .caption,
  .imageContainer h5 {
    margin-top: 10px;
  }
  .byline {
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 25px;
    width: 100%;
  }
  .caption {
    font-family: var(--font-list);
    color: var(--palette-dark-gray);
  }
  .title {
    font-weight: 600;
    font-size: 35px;
    line-height: normal;
    text-align: center;
  }
  .subhead {
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    margin-top: 0;
    color: var(--palette-dark-gray);
    font-family: var(--font-list);
    text-align: center;
  }
  .date {
    text-align: center;
  }
  .date,
  .imageAttribution {
    margin: 0 0 1.45rem 0;
    color: var(--palette-dark-gray);
    font-family: var(--font-list);
    font-weight: 500;
    font-size: 0.87055rem;
    line-height: 1.1;
  }
  /* Footer */
  .footerCard {
    padding: 20px 20px 0 20px;
    margin: 10px 0 20px 0px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .footerCard p {
    color: var(--palette-dark-gray);
    font-family: var(--font-list);
    font-weight: 500;
    font-size: 15px;
  }
</style>
