---
import PageLayout from "../layouts/PageLayout.astro";
import circleLogo from "../assets/site/dclogo-circle.png";
import { Image } from "astro:assets";
import { Link } from "../components/Link";
import { getCollection } from "astro:content";

// Get articles, sorted by publish date
const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

// Date formatter
const dateFormat = new Intl.DateTimeFormat("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
});
---

<PageLayout>
  <div class="content">
    {/* Intro */}
    <div class="intro">
      <Image src={circleLogo} alt="The Daily Californian" class="logo" />
      <div class="description">
        <h1>Data</h1>
        <p>
          Investigative stories, data analysis and graphics by The Daily Californian&apos;s Data
          Team
        </p>
      </div>
    </div>

    {/* Articles */}
    <div class="index">
      {
        articles.map((article) => (
          <Link href={`/article/${article.id}`} className="articleCardLink">
            <div class="articleCard">
              {/* Date */}
              <div class="date">{dateFormat.format(article.data.date)}</div>
              {/* Image */}
              <Image
                src={article.data.featuredImage}
                alt="Featured image here"
                class="featuredImage"
              />
              {/* Title */}
              <div class="title">{article.data.title}</div>
            </div>
          </Link>
        ))
      }
    </div>
  </div>
</PageLayout>

<style>
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
  }

  /* Intro */
  .intro {
    font-family: Georgia, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .intro .logo {
    width: 100px;
    height: auto;
    margin: 0;
  }

  .intro .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro .description h1 {
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    color: var(--palette-black);
    padding-bottom: 7px;
  }

  .intro .description p {
    margin: 0;
    color: var(--palette-dark-gray);
  }

  /* Articles */
  .index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .articleCardLink {
    text-decoration: none;
  }

  .articleCard {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 350px;
    margin: 20px;
    font-size: 15px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: Georgia, sans-serif;
  }

  .articleCard:hover .title {
    text-decoration: underline;
  }

  .articleCard .date {
    color: var(--palette-gray);
    border-top: 1px solid var(--palette-dark-gray);
    font-weight: 400;
    line-height: normal;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .articleCard .featuredImage {
    width: 360px;
    height: 200px;
  }

  .articleCard .title {
    font-weight: 400;
    line-height: normal;
    color: var(--palette-black);
    font-size: 24px;
    text-decoration: none;
    margin-top: auto;
  }

  /* Mobile/Desktop specific styling */
  @media (min-width: 1200px) {
    .content {
      width: 1200px;
      align-items: normal;
    }
  }

  @media (max-width: 600px) {
    .articleCard {
      width: 350px;
    }
  }
</style>
